.flex {
  display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-inline {
  display: inline-flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.align-items-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}