@require './styles/all.styl'


* {
  box-sizing: border-box;
}


:root {
  --main-text-color: rgba(0, 0, 0, 0.7);
  --gray: #aaa;
}


html, body {
  font-family: "Helvetica Neue";
  font-size: 24px;
  letter-spacing: 1px;
  color: var(--main-text-color);
  line-height: normal;
}


.example-graph {
  opacity: 0.7;
}


.reveal .speaker-notes {
  font-family: "Helvetica Neue";
  font-size: 16px;
  color: var(--main-text-color);
  ph(2)
  pv(0)
  &::before {
    // opacity: 1;
    font-weight: 600;
    font-size: 20px
    mv(3)
  }
  p {
    mv(2)
  }
}


pre code {
  font-family: Menlo, Consolas, Inconsolata, monospace;
  line-height: 1.5;
  font-size: var(--font-small);
}


.hljs {
  padding: 0;
}


.slides > * {
  text-align: left;
}


.slides section {
  height: 100%;
}


.reveal .slides > section {
  &, & > section {
    padding: 0;
  }
}


.pad-center {
  padding-bottom: 7%;
}


.gray {
  color: var(--gray);
}


ol, ul {
  list-style-type: none;
  counter-reset: list-item;
}


li {
  counter-increment: list-item;
}


ol > li::before {
  content: counter(list-item);
  font-weight: 600;
  color: var(--gray);
  padding-right: var(--space-2);
}


highlight-subgraph(color)
  ellipse, path {
    stroke: color;
  }
  polygon {
    fill: color;
    stroke: color;
  }


.highlight-req .example-graph .req {
  highlight-subgraph: red;
}


.highlight-dep .example-graph .dep {
  highlight-subgraph: green;
}