section
  h1.f3.fw-300.gray.mb2 Dependency Injection
  p Расширяем область применения


section
  h1.f3.fw-300.gray.mb3 Цели доклада
  ol
    li.mb2.fragment Сформулировать ключевую идею лежащую в основе DI
    li.mb2.fragment Представить новый контейнер

  aside.notes
    p.
      В этом докладе мы хотим представить новый контейнер.
      Он весьма не похож на традиционные Java контейнеры
      и обладает важной особенностью, которая позволяет применять
      ключевую идею, лежащую в основе DI, более широко и с большим успехом.
    p.
      С формулировки ключевой идеи DI (а так же такой системы сборки как Make)
      мы и начнём...


section.size-full
  .size-full.flex.align-items-center
    pre: code.javascript
      include examples/abc.js
    img(src="examples/abc.svg", style="height: 70%; opacity: 0.7;")

  aside.notes
    p.
      Для этого посмотрим на наш код не как на некую последовательность действий,
      а как на граф, вершины которого обозначают элементарные операции,
      а рёбра их непосредственную зависимость от результатов других операций.


section.size-full
  .size-full.flex.align-items-center
    pre.fragment: code.javascript
      include examples/simple.js
    img(src="examples/simple.svg", style="height: 70%; opacity: 0.7;")

  aside.notes
    p.
      В самом оптимистичном случае такой граф будет представлять собой дерево.
      Дерево замечательно тем, что для его реализации нам достаточно самых базовых
      приёмов программирования. Действительно, если операций станет слишком много,
      мы всегда сможем разбить их на отдельные подпрограммы, каждая из которых будет
      оставаться простой.

